@model ProductVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow m-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3 ">

        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-0">@(Model.product.Id!=0?"Update":"Create") Product</h2>
            </div>
        </div>
    </div>


    <div class="card-body p-4">

        <form asp-action="UpSert" enctype="multipart/form-data">

            <input hidden asp-for="product.Id" />
            @*<input hidden asp-for="product.ImageUrl" />*@

            <div class="row">
                <div class="col-10">
                    <div class="border p-3 mt-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="product.Title" class="control-label"></label>
                            <input asp-for="product.Title" class="form-control" />
                            <span asp-validation-for="product.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="product.Description" class="control-label text-muted"></label>
                            <textarea asp-for="product.Description" class="form-control">

                    </textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="product.ISBN" class="control-label"></label>
                            <input asp-for="product.ISBN" class="form-control" />
                            <span asp-validation-for="product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="product.ListPrice" class="control-label"></label>
                            <input asp-for="product.ListPrice" class="form-control" />
                            <span asp-validation-for="product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="product.Price" class="control-label"></label>
                            <input asp-for="product.Price" class="form-control" />
                            <span asp-validation-for="product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="product.Price50" class="control-label"></label>
                            <input asp-for="product.Price50" class="form-control" />
                            <span asp-validation-for="product.Price50" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="product.Price100" class="control-label"></label>
                            <input asp-for="product.Price100" class="form-control" />
                            <span asp-validation-for="product.Price100" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="product.Author" class="control-label"></label>
                            <input asp-for="product.Author" class="form-control" />
                            <span asp-validation-for="product.Author" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            
                           
                        </div>

                        <div class="form-group mb-2">
                            <label asp-for="product.CategryId" class="control-label"></label>

                            <select asp-for="product.CategryId" asp-items="@Model.CategryList" class="form-select border-0">
                                <option disabled selected>---Select Categry---</option>
                            </select>

                            <span asp-validation-for="product.CategryId" class="text-danger"></span>
                        </div>


                        <div class="row">
                            <div class="col-6 col-md">

                                @if (Model.product.Id != 0)
                                {
                                    <input type="submit" value="Update" style="width:90%" class="btn btn-primary" />

                                }
                                else
                                {
                                    <input type="submit" value="Create" style="width:90%" class="btn btn-primary" />

                                }

                            </div>
                            <div class="col-6 col-md">
                                <a asp-action="Index" style="width:90%" class="btn btn-secondary">Back to List</a>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-2" style="padding: 5px;">
                    <div class="upload-container">
                        <label for="file-input" class="btn btn-primary" style="width: inherit;padding: 0px;">
                            <span class="upload-icon">&#43;</span>
                            <input id="file-input" type="file" onchange="previewImage(event)" name="files" multiple class="file-input" />
                        </label>
                    </div>
                    

                    @if (Model.product.ProductImages != null)
                    {
                        foreach (var image in Model.product.ProductImages)
                        {
                           
                            <div class="border p-1 m-2 text-center">
                                <img src="@image.ImageUrl" width="100%"
                                     style="border-radius:5px; border:1px solid #bbb9b9" />
                                <a asp-action="DeleteImage" class="btn btn-danger" style="margin-top: 3px;" asp-route-imageId="@image.Id">
                                    <i class="bi bi-trash-fill"></i> 
                                </a>
                            </div>
                        }
                    }
                </div>

            </div>

        </form>
    </div>
</div>

<hr />


<style>
    .upload-container {
        text-align: center;
        /* margin-top: 50px; */
        width: 94%;
        /* height: 25px; */
        margin: auto;
    }

    .file-input {
        display: none;
    }

    .file-label {
        padding: 8px 16px;
        background-color: #f1f1f1;
        color: #555;
        border: 2px dashed #ddd;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

        .file-label:hover {
            background-color: #e5e5e5;
        }

        .file-label:active {
            background-color: #ddd;
        }

    .file-name {
        font-size: 14px;
        margin-top: 8px;
    }

    .upload-icon {
        font-size: 24px;
     
    }

   
</style>
@section scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('preview');
                output.src = reader.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
